<div class="layout">
    <app-sidebar></app-sidebar>

    <div class="content">
        <div class="container justify-content-end">
            <button class="btn btn-primary" (click)="openCloseModal('show')">Add Category+</button>
        </div>
        <div class="container mt-4">
            <h2 class="text-center">Category List({{categoryListCount?categoryListCount:'0'}})</h2>
            <div class="container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Category ID</th>
                            <th>Unique ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <!-- <th>Image Path</th> -->
                            <th>Edit</th>
                            <th>Is Active</th>
                            <th>Created At</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let category of categoryList | paginate: { itemsPerPage: bookCategoryPagination.numPerPage, currentPage: bookCategoryPagination.pageNo ,totalItems:categoryListCount,id:'p'}">
                            <td>{{ category.bookCategoryId }}</td>
                            <td>{{ category.bookCategoryUniqueId }}</td>
                            <td>{{ category.bookCategoryName }}</td>
                            <td>{{ category.description ? category.description:"--" }}</td>
                            <!-- <td>{{ category.categoryImagePath }}</td> -->
                            <td><i class="fas fa-pencil-alt" (click)="editBookCategory(category)"></i></td>
                            <td>
                                <span (click)="changeBookCategoryStatus(category.bookCategoryId)"
                                    *ngIf="category.isActive" style="cursor: pointer;">
                                    <i class='fa fa-toggle-on text-success'></i>
                                </span>
                                <span (click)="changeBookCategoryStatus(category.bookCategoryId)" *ngIf="!category.isActive"
                                    style="cursor: pointer;">
                                    <i class='fa fa-toggle-off text-danger' style="color:red"></i>
                                </span>
                            </td>
                            <td>{{ category.createdAt | date:'short' }}</td>
                        </tr>
                        <tr *ngIf="!categoryList || (categoryList && categoryList.length<=0)" colspan="6" class="p-3">
                            No Record Found
                        </tr>
                    </tbody>
                </table>
            </div>

            <pagination-controls (pageChange)="changePage($event)" id="p"></pagination-controls>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg" role="document"> <!-- Use 'modal-lg' for larger modals -->
                <div class="modal-content">
                    <div class="modal-header d-flex justify-content-between">
                        <h5 class="modal-title" id="exampleModalLabel">{{ category.bookCategoryId && category.bookCategoryUniqueId ? 'Edit Category' : 'Add Category' }}</h5>
                        <button type="button" class="close" (click)="openCloseModal('hide')" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form (ngSubmit)="addEditCategory()">
                            <!-- Category Name -->
                            <div class="form-group mb-2">
                                <label for="categoryName">Category Name</label>
                                <input type="text" class="form-control" id="categoryName" name="categoryName"
                                    [(ngModel)]="category.bookCategoryName" placeholder="Enter Category Name" required>
                            </div>

                            <!-- Category Description -->
                            <div class="form-group">
                                <label for="categoryDescription">Category Description</label>
                                <textarea class="form-control" id="categoryDescription" name="categoryDescription"
                                    rows="5" [(ngModel)]="category.description" placeholder="Enter Category Description"
                                    required></textarea>
                            </div>

                            <!-- Front and Back Image Inputs in a Single Row -->
                            <div class="form-row row mt-3">
                                <!-- Front Image Input -->
                                <div class="form-group col-12 col-sm-6 col-md-6">
                                    <label for="frontImage">Front Image</label>
                                    <input type="file" class="form-control-file" id="frontImage" name="frontImage"
                                        (change)="onUpload($event, 'frontImage')" accept="image/*" required>
                                </div>

                                <!-- Back Image Input -->
                                <div class="form-group col-12 col-sm-6 col-md-6">
                                    <label for="backImage">Back Image</label>
                                    <input type="file" class="form-control-file" id="backImage" name="backImage"
                                        (change)="onUpload($event, 'backImage')" accept="image/*" required>
                                </div>
                            </div>

                            <div class="modal-footer mt-3">
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>