<div class="layout">
  <app-sidebar></app-sidebar>
  <!-- Button to trigger the modal -->


  <div class="content">
    <div class="container justify-content-end">
      <button class="btn btn-primary" (click)="goToAddEditBookPage()">Add Book+</button>
    </div>
    <div class="container mt-4">
      <h4 class="text-center">Book List({{bookListCount?bookListCount:'0'}})</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Book ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Pages</th>
            <!-- <th>Rating</th> -->
            <th>Unique ID</th>
            <th>Total Stock</th>
            <th>Available Stock</th>
            <th>Comments</th>
            <th>Active</th>
            <th>Library Name</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let book of books  | paginate: { itemsPerPage: bookListPagination.numPerPage, currentPage: bookListPagination.pageNo ,totalItems:bookListCount,id:'p'}">
            <td>{{ book.bookId }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.pages }}</td>
            <!-- <td>{{ book.rating || 'N/A' }}</td> -->
            <td>{{ book.bookUniqueUid }}</td>
            <td>{{ book.totalStock }}</td>
            <td>{{ book.availableStock }}</td>
            <td (click)="openBookComment(book.bookId)">Comments</td>
            <td><button (click)="changeBookStatus(book.bookId)" [ngClass]="{'active': book.isActive}"
                style="color:blue">
                <i [ngClass]="{'fa fa-toggle-on': book.isActive, 'fa fa-toggle-off': !book.isActive}"></i>
              </button>

            </td>
            <td>{{ book.libraryName }}</td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="changePage($event)" id="p"></pagination-controls>
    </div>
  </div>

</div>