<nav class="sidebar">
  <ul>
    <li>
      <a routerLink="/profile"  routerLinkActive="active">Profile</a>
    </li>
    <li>
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    </li>
    <li>
      <a routerLink="/books" routerLinkActive="active">Books</a>
    </li>
    <li>
      <a routerLink="/user" routerLinkActive="active">Users</a>
    </li>
    <li>
      <a routerLink="/category" routerLinkActive="active">Categories</a>
    </li>
    <li>
      <a routerLink="/library" routerLinkActive="active">Library</a>
    </li>
    <li>
      <a routerLink="/employee" routerLinkActive="active">Employee</a>
    </li>
    <li>
      <a routerLink="/settings" routerLinkActive="active">Settings</a>
    </li>
    <li>
      <a routerLink="/support" routerLinkActive="active">Help & Support</a>
    </li>
    <li>
      <a (click)="logOut()">
        <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
      </a>
    </li>
    <li>
      <a (click)="onOffSound()">
        <span *ngIf="isPlaySound=='true'">
          <img src="assets/volume_off.jpg" style="width: 20px; height: 20px;">
        </span>
        <span *ngIf="isPlaySound=='false'">
          <img src="assets/volume_on.jpg" style="width: 20px; height: 20px;">
        </span>
      </a>
    </li>
  </ul>
</nav>