<!-- layout.component.html -->
<div class="layout">
    <app-sidebar></app-sidebar>
    <div class="content">
        <div class="container">
            <div class="row mb-2">
                <!-- marquee-summary.component.html -->
                <div class="marquee">
                    <div class="marquee-content">
                        <div class="summary">
                            Book Summary: {{ allCountsBO.booksTotalCount ? allCountsBO.booksTotalCount : '' }}
                        </div>
                        <div class="summary">
                            Category Summary: {{ allCountsBO.bookCategoryTotalCount ? allCountsBO.bookCategoryTotalCount
                            : '' }}
                        </div>
                        <div class="summary">
                            User Summary: {{ allCountsBO.userCount ? allCountsBO.userCount : '' }}
                        </div>
                        <div class="summary">
                            Library Summary: {{ allCountsBO.librayCount ? allCountsBO.librayCount : '' }}
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>