/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";


@font-face {
  font-family: 'PhilosopherBold';
  src: url('./assets/fonts/philosopher/Philosopher-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'PhilosopherRegular';
  src: url('./assets/fonts/philosopher/Philosopher-Regular.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'poppinsSemiBold';
  src: url('./assets/fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'poppinsRegular';
  src: url('./assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: bold;
}

:root {
  --philosopher-Bold: 'PhilosopherBold', sans-serif;
  --philisopher-Regular:'PhilosopherRegular';
  --poppinsSemobold:'poppinsSemiBold';
  --poppinsRegular:'poppinsRegular';
}

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
